// mat-toolbar-row is a flexbox container by default

.header-toolbar {
  margin: 1rem 0;
  justify-content: space-between;
}

.header-title img {
  width: 25%;
  height: auto;
}

.development-notice {
  font-size: 0.75rem;
  padding-right: 0.5rem;

  display: flex;
  align-items: center;
}
.development-icon {
  transform: scale(1.5);
}
