// mat-toolbar-row is a flexbox container by default

.header-toolbar {
  margin: 1rem 0;
}

.spacer {
  flex: auto;
}

.header-first-row {
  height: auto;
}

.header-title {
  display: flex;
  justify-content: center;
}

.header-title img {
  width: 30%;
  height: auto;
}

.development-notice {
  font-size: 0.75rem;
  padding-right: 0.5rem;
}
.development-icon {
  transform: scale(1.5);
}
