// mat-toolbar-row is a flexbox container by default

.spacer {
  flex: auto;
}

.header-first-row {
  height: auto;
}

.header-title {
  display: flex;
  justify-content: center;
}

.header-title img {
  width: 30%;
  height: auto;
}

// .header-subtitle {
//   justify-content: center;
//   align-items: center;
// }
