.app-footer {
  font-size: 0.75rem;
  border-top: 1px solid cyan;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0;
}

.footer-link {
  text-decoration: none;
}

.legal-links {
  display: flex;
  gap: 1rem;
  margin: 0;
}

.legal-links p {
  margin: 0;
}
