.recipe-card {
  padding: 1rem;
  flex: 0 0 75%;
}

.recipe-card.spinner-only {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-header {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 1rem;
  margin: 0 0 1rem;
}

.header-col {
  flex: 1;
  text-align: center;
}
.header-col-left {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 1rem;
}

.header-title {
  padding: 0;
}

.recipe-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  position: relative; // Enable absolute positioning to fixate actions-card to bottom right
}

.recipe-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.recipe-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-col-left {
  flex: 0 0 30%;
  gap: 1rem;
}

.recipe-image-card {
  padding: 0;
}

.recipe-image {
  height: 100%;
  width: 100%;

  border-radius: 0.75rem;
}

.recipe-image:hover {
  cursor: pointer;
}

.recipe-actions {
  margin-top: auto; // to push the actions card to the bottom
  align-self: flex-end;
}

.recipe-spinner {
}
