.recipe-card {
  padding: 1rem;
  flex: 0 0 75%;
}

.recipe-header {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 1rem;
  margin: 0 0 1rem;

  // border: 2px solid green;
}

.header-col {
  flex: 1;
  text-align: center;
}
.header-col-left {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 1rem;
}

.header-title {
  padding: 0;
}

.recipe-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;

  // border: 2px solid red;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  position: relative; // Enable absolute positioning to fixate actions-card to bottom right
}

.recipe-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.recipe-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipe-col-left {
  flex: 0 0 30%;
  gap: 1rem;
}

.recipe-image-card-content {
  padding: 0;
  margin: 0;

  // border: 2px solid green;
}

.recipe-image {
  height: 100%;
  width: 100%;

  border-radius: 1rem;

  // border: 2px solid red;
}

.recipe-actions {
  position: absolute;
  bottom: 0px;
  right: 1rem;
}
