.recipe-card {
  padding: 16px;
  flex: 0 0 75%;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative; // Enable absolute positioning to fixate actions-card to bottom right
}

.recipe-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.recipe-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipe-col-left {
  flex: 0 0 30%;
  gap: 16px;
}

.recipe-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.recipe-actions {
  position: absolute;
  bottom: 0px;
  right: 16px;
}

.recipe-tags {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
