@if (this.recipesService.currentRecipe()) {
  <mat-card appearance="filled" class="recipe-card">
    <mat-card-header class="recipe-header">
      <mat-card-title>{{ this.currentRecipe()!.title }}</mat-card-title>
      <mat-card-subtitle>{{ this.currentRecipe()!.time }} minutes</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="recipe-content">
      <div class="recipe-row">
        <div class="recipe-col recipe-col-left">
          <mat-card appearance="outlined">
            <mat-card-content>
              <img [src]="imagePath" [alt]="this.currentRecipe()!.imageAlt" class="recipe-image" />
            </mat-card-content>
          </mat-card>
          <app-ingredients [ingredients]="this.currentRecipe()!.ingredients" />
        </div>
        <div class="recipe-col">
          <app-instructions [instructions]="this.currentRecipe()!.instructions" />
        </div>
      </div>

      <div class="recipe-actions">
        <app-actions />
      </div>
    </mat-card-content>
    <mat-card-footer class="recipe-tags">
      <mat-chip-set aria-label="recipe tags">
        @for (tag of this.currentRecipe()!.tags; track $index) {
          <mat-chip>{{ tag }}</mat-chip>
        }
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
}
