.selection-card {
  max-width: 100%;
  padding: 16px;
  margin: 16px;

  display: flex;
  align-items: center;
}

.selection-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}
