.selection-card {
  max-width: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;
}

.selection-card-title {
  text-align: center;
}

.selection-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0px;
}

.selection-footer {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding: 1rem;
}

.selection-footer p {
  margin: 0.25rem 0;
}
