.selection-card {
  max-width: 100%;
  padding: 16px;
  flex: 0 0 25%; // Takes 25% of the parent

  display: flex;
  align-items: center;
}

.selection-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}
