.actions-card {
  display: flex;
  flex-flow: column wrap;
}

.actions-row {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.cta-rating {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.25rem;
  flex: 1 0 30%;

  //   border: 2px solid green;
}

.cta-rating h3,
p {
  margin: 0;
}

.sentiment-icon-buttons {
  transform: scale(1.5);
  display: flex;
  gap: 0;

  // border: 2px solid green;
}

.sentiment-good-icon-button {
  color: green;
}

.sentiment-bad-icon-button {
  color: red;
}

.sentiment-good-icon-button:disabled,
.sentiment-bad-icon-button:disabled {
  opacity: 0.1;
  transition:
    opacity 150ms ease,
    filter 150ms ease;
}

.voted-for-this:disabled {
  opacity: 0.8;
}

.ai-image-warning {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  border: 2px solid grey;
  border-radius: 1rem;
}

.submitted-by-row {
  align-self: flex-end;
  font-size: 0.75rem;
  padding: 0 0.5rem 0.25rem 0;

  // border: 2px solid green;
}
.submitter {
  font-style: italic;
  font-size: 1rem;
}
