:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;

  scrollbar-width: none;
}

.dialog-description {
  margin: 0;
  color: var(--mat-sys-on-surface-variant);
}

.hidden-file-input {
  display: none;
}

.selected-file-name {
  margin: 0;
  font-size: 0.875rem;
  color: var(--mat-sys-on-surface-variant);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.error-message {
  margin: 0;
  font-size: 0.875rem;
  color: var(--mat-sys-error);
}
