.instructions-list {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;

  // border: 2px solid green;
}

.instructions-list .instruction {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  // border: 2px solid red;
}
