.body-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
}

.selection-component {
  flex: 0 0 25%;
}

.recipe-component {
  flex: 0 0 1;
}

// No wrap on desktop/PC monitors
@media (min-width: 1024px) {
  .body-cards {
    flex-wrap: nowrap;
  }
}
