.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
  flex: 1; // grows body to push footer down
}

.selection-component {
  flex: 0 0 25%;
}

.body-cards.no-recipe .recipe-component {
  display: none;
}

.recipe-component {
  flex: 1;
}

.body-cards.spinner-active .recipe-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.submit-button {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  z-index: 9999;
}

@media (min-width: 1024px) {
  .body-cards {
    flex-wrap: nowrap;
  }
}
